{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

 {% if user.username %}
  <a class="navbar-brand" href="">{{ user.username }}</a>
 {% else %}
  <a class="navbar-brand" href="">Navbar</a>
 {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% block navigation %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <li><a class="nav-link" href="{%url 'index' %}">Customers</a></li>
      </li>
      <li class="nav-item" active>
       <li><a class="nav-link" href="{%url 'artists' %}">Artists</a></li>
      </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'appraisers' %}">Appraisers</a></li>
      </li>
        </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'technic_list' %}">Technics</a></li>
      </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'items_list' %}">Items</a></li>
      </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'ajax_list' %}">Ajax</a></li>
      </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'lots_list' %}">Lots</a></li>
      </li>
      <li class="nav-item">
       <li><a class="nav-link" href="{%url 'tetelek_list' %}">Tételek</a></li>
      </li>
      <li class="nav-item">
       <li><a class="nav-link" href="{%url 'extra_list' %}">Extra</a></li>
      </li>
        <li class="nav-item">
       <li><a class="nav-link" href="{%url 'imgup_list' %}">img</a></li>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/customers/">Action</a>
          <a class="dropdown-item" href="/artists/">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    {% if user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-label="logout">Logout</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-label="login">Login</a>
      </li>
    {% endif %}
    </ul>
    {% endblock navigation %}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    {% block content %}  {% endblock content %}

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<!--    # jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    # jQuery.ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



    <script>

    $(function() {
        $("#contact_name_search_input").autocomplete({
            source: "{% url 'contact-name-search' %}",
            minLength: 1,
            delay: 300,
        });
    });



    </script>


 <script>
   $(document).ready(function(){
    $( "#id_champion_display" ).autocomplete({
      source: "{% url 'champion_auto_complete' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_champion").val(ui.item.id)
      }
        });

   });
   </script>

{% block scripts %}

{% endblock scripts %}

</html>
