{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'create_lot' %}">
                <button class="btn btn-secondary">Create new lot</button>
            </a>
        </div>
        <div class="col-sm">
            <ul>
                {% for item in items %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a> artist: {{ item.artist }} user: {{ item.created_by }} mod: {{ item.modified_by }}</li>
                <li><a href="{% url 'update_lot' item.slug %}">Update {{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>


{% endblock content %}

